@page
@model DS_InactiveWebApp.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.ally)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.ally)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.villages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.villages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.points)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.lastActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.lastActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Player.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
